<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>ITicket</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>ITicket</h1>
            <h2>Listado de Eventos</h2>
        </div>
        <div>
            <table border="1">
            <thead>
                <tr>
                    <th>Artista</th>
                    <th>Costo</th>
                    <th>Fecha</th>
                    <th>Capacidad</th>
                    <th>Lugar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="event:${concierto}">
                <tr>
                    <td th:text="${event.getArtista}"></td>
                    <td th:text="${event.getCosto}"></td>
                    <td th:text="${event.getFecha}"></td>
                    <td th:text="${event.getCapacidad}"></td>
                    <td th:text="${event.getLugar}"></td>
                    <td>
                        <a th:href="@{/eliminarEvento/{id}(id=${event.getId})}">Eliminar Evento</a>
                    </td>
                </tr>
                </th:block>
            </tbody>
            </table>
        </div>
        <a th:href="@{/nuevoEvento}">Agregar Nuevo Evento</a>
    </body>
</html>
